#app {
  border: #ffffff thick double;
  border-radius: 10px;
}

h1,
h2,
h3,
li,
p {
  color: #ffffff;
}

h1 {
  font-size: 5.6vw !important;
  font-weight: bold;
}

h2 {
  font-size: 4.8vw !important;
}

h3 {
  font-size: 3.6vw !important;
}

.slidev-layout li {
  margin-left: 0;
  list-style: none;
}
